<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RESTuarant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript"src="/js/jquery.js">    </script>
    <script type="text/javascript"src="/js/scripts.js">    </script>
  </head>
  <body>
    <div class="container">
      <%=yield%>
    </div>



  </body>
</html>
