body{
  text-align: center;
  background-color: whitesmoke;
  color:#555;
  margin: 0;
  padding: 0;
}
#body{
  margin-bottom: 60px;
}
select{
  display:inline-block;
  background-color: whitesmoke;
  border-radius: 0px;
  -webkit-appearance: none;
  border-color:  whitesmoke;
  border-bottom-color: darkgrey;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rebeccapurple;
  padding-top: 1.5em;
  font-size: 18px;
}
footer a{
  color: chartreuse;
}

a{
  color: #555;
  text-decoration: none;
}
.container{
  width: 98%;
}

.bottom-nav{
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10%;
}
.top-right{
  position: absolute;
  top:0;
  right:0;
  font-size: 9px;
  padding: 2 15px;
  margin-right: 0px;
}
.button{
  border-radius: 2px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background-color: whitesmoke;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.table{
  padding:1em;
  height:4em;
  border-radius: 50%;
  border: 1px solid #bbb;
}
.new-party{
  background-color: lightgreen;
}
.food-party{
  background-color: yellow;
}
.done-party{
  background-color: red;
}
.lister{
  text-align: left;
}
input,
select{
  text-align: center;
  font-size: 18px;
}
