<header>
  <a class='top-right button' href="/servers/new">Add a Server</a>
  <h2>Servers</h2>
</header>


<ul id="body">
  <div class="row ">
    <%@servers.each do |server|%>
        <div class="col s6">
          <a href="/servers/<%=server.id%>/parties"><li class="button"><%=server.name%>
          </li></a>
          <h6 class="spacing">Parties Waiting: <%=server.parties.length%></h6>
        </div>
    <%end%>
  </div>
</ul>
<footer>
  <div  class="row valign-wrapper">
        <a class=" col s6 valign" href="/chefs">Chefs</a>

      <a class="col s6 valign" href="/foods">Foods</a>
  </div>
</footer>
