<h3>Menu</h3>
<ul class="menu">
<div class="row "id="body">

  <%@foods.each do |food|%>

        <a href="/foods/<%=food.id%>"><li><div class="menu-item col offset-s1 s5 l3 left-align">
          <%=food.name%>
          <%if food.veg%> V <%end%>
      </div>
    <div class="menu-item col s5 l3 right-align">
      $<%=food.price%>
        </div></li></a>

  <%end%>
  </div>
</ul>


<footer>
  <div  class="row valign-wrapper">
      <a class=" col s6 valign" href="/">Back to Servers</a>

      <a class=" col s6 valign" href="/foods/new"> Add to the menu</a>
  </div>
</footer>
