<h3>Menu</h3>
<ul>
<div class="row">

  <%@foods.each do |food|%>
      <div class=" col offset-s1 s5 l3 left-align">
        <a href="/foods/<%=food.id%>"><li>
          <%=food.name%>
          <%if food.veg%> V <%end%>
      </div>
    <div class="col s5 l3 right-align">
      $<%=food.price%>
        </li></a>
    </div>






  <%end%>
  </div>
</ul>


<footer>
  <div  class="row valign-wrapper">
      <a class=" col s6 valign" href="/">Back to Servers</a>

      <a class=" col s6 valign" href="/foods/new"> Add to the menu</a>
  </div>
</footer>
