<h3>new food</h3>
<div class="row">
  <form class="col s12" action="/foods" method="post">
    <div class="input-field col s12 l4">
      <input type="text" name="food[name]" placeholder="food">
    </div>
    <div class="input-field col s12 l4">
      <input type="text" name="food[price]" placeholder="price">
    </div>
    <div class="input-field col s12 l4">
      <input type="checkbox" class= "filled-in"id="veg"name="food[veg]" value="true"/>
      <label for="veg">Vegetarian?</label>
    </div>
</div>
    <input type="submit">
  </form>
