<h3>new party</h3>
<form  action="/parties" method="post">
  <input type="hidden" name="party[server_id]" value="<%=@server.id%>">
  <!-- a selection -->
  <input type="text" name="party[table_name]" placeholder="table_id">
  <input type="number" name="party[num_persons]" placeholder="Number of people">
  <!-- a boolean -->
  <input type="hidden" name="party[paid]" value="false">
  <input type="checkbox" name="party[paid]" value="true">Paid?
  <!-- something something server id? here or via a long chain of stuff in the controller? -->
  <input type="submit">
</form>
